/* ここから下に記載していく */

/* ロゴとメニューバーの並びを定義 */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* コンテンツが少ない時でも画面全体に広がるように最小高さを設定 */
}

header{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-becentertween;
    position: fixed;
    z-index: 9999;
    background-color: #fafafa;
    opacity: 0.7;
    top: 0px;
    left: 50%;
    transform: translateX(-50%); }

header img{
    width: 30%;
    margin-left: 50px;
 }

/* メニューバーの並びを定義 */
.header_menu_bar{
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
}

/* メニューバーの中身を定義 */
.header_style{
    display: block;
    justify-content: space-between;
    width: 100px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
}

/* ヘッダーリンクの下線と色変更を阻止 */
.header_link:link, .header_link:visited
{
  color:inherit;
  text-decoration: none;
}

/* ヘッダーリンクマウスを乗せた時に色変更 */
.header_link:hover
{
  color:#ffd61a;
  font-weight: 1000;
  text-decoration: none;
}

/* mobileMenuを非表示 */
.header_mobile{
    display: none;
}

/* コンテンツ全体を定義 */
.wrap {
    flex-grow: 1; /* 余ったスペースを全て占有し、コンテンツを最下部に押しやる */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

/* mainバナーを定義 */
.mainvisual{
    background: url(../img/mainbg.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 121px;
}

.main_title{ 
    width: 100%;
    font-size: 48px;
    font-weight: 550;
    color: white;
    margin-bottom: 30px;
    text-align: center;
}

.sub_title{
    font-size: 32px;
    letter-spacing: 0.15cap;
    color: white;
    text-align: center;
}

/* コンテンツの共通文字を定義 */
.h3_yellow{
    font-size: 24px;
    font-weight: bold;
    color: #ffd61a;
    text-align: center;
}

.h3_black{
    font-size: 24px;
    font-weight: bold;
    color: #222;
    text-align: center;

}

.h4_content{
    font-size: 18px;
    color: #222;
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
}

/* aboutを定義 */
#about{
    margin-top: 60px;
    margin-bottom: 60px;
}

.about_text{
    font-size: 16px;
    color: #222;
    text-align: center;

}

.about_text_mb40{
    margin-bottom: 40px;
    line-height: 1.5;
}

/* スライド表示*/
.about_image_slider {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.about_image_loop{
    display: flex;
    width: 200%; /* ループの倍 */
}

.about_image img {
    width: auto;
}

/* スライダーアニメーションの設定*/
@keyframes about_image_slider_animation {
    0% {
    transform: translateX(-100%);
    }
    100% {
    transform: translateX(0);
    }
}

.about_image_loop {
  animation: about_image_slider_animation 15s linear infinite;
}

/* couseを定義 */
#course{
    margin-top: 60px;
}

.couse_title_text{
    font-size: 16px;
    line-height: 1.5;
    color: #222; 
    margin-top: 30px;
    margin-bottom: 60px;   
    text-align: center;
}

.couse_frame{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
}

.couse_frame img{
    width: 50%;
}

.couse_box{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: start;

}

.couse_text_frame{
    width: 80%;
}

.couse_subtitle{
    font-size: 22px;
    font-weight: bold;
    color: #222;  
    margin-bottom: 40px;
}

.couse_text{
    font-size: 16px;
    line-height: 1.5;
    color: #222;
}

/* newsを定義 */
#news{
    margin-top: 60px;
    margin-bottom: 60px;
}

.news_frame{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px 30px;
    margin-bottom: 30px;
}

.news_content{
    display: flex;
    flex-basis: 300px;
    flex-direction: column;
}

.news_content:hover{
    background-color: #f4f0f0;
    opacity: 0.7;
}

.news_title{
    font-size: 14px;
    text-align: start;
    color: #222;
    margin-top: 30px;
    margin-bottom: 24px;    
}

.news_text{
    font-size: 14px;
    line-height: 2;
    text-align: start;
    color: #222;
}

/* newsを広げるボタン */
input[id="more_button"]{
    display: none;
}

.news_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #ffd61a;
    border-radius: 5px;
    font-size: 0px;
    color: white;
}

.news_button:hover{
    background-color: #ffd61a;
    font-weight: bold;
    opacity: 0.7;
    cursor: pointer;
}

/* 初期状態: More の表示 */
.news_button::before {
    content: "More";
    font-size: 18px;    
}

/* 隠れてるコンテンツ */
.appear{
    display: none;
}

/* inputがチェックされたらコンテンツを表示 */
input[type="checkbox"][id="more_button"]:checked ~ .appear{
  display:block;
  width: auto;
}

/* inputがチェックされたらClose に変更 */
input[id="more_button"]:checked ~ .news_button::before {
    content: "Close";
    font-weight: bold;
}


/* accessを定義 */
#access{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fafafa;
}

/* 地図 */
.map iframe{
     width: 100%;
}

.access_frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 0px;
    margin-top: 60px;
}

.access_row{
    display: flex;
}

.access_title{
    width: 150px;
    font-size: 16px;
    color: #222;
    text-align: start;
}

.access_text{
    width: 400px;
    font-size: 16px;
    color: #222;
    text-align: start;
}

/* contactを定義 */
#contact{
    margin-top: 60px;
    margin-bottom: 140px;
}

.contact_text{
    font-size: 16px;
    color: #222;
    margin-bottom: 30px;
    text-align: center;

}

/* formを定義*/
.form{
    width: 50%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 30px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #bfbfbf;
}

.form_box{
    height: 36px;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #bfbfbf;
}

.form_text{
    width: 30%;
    margin-left: 3%;
    margin-right: 11%;
    color: #222;
    text-align: start;
}

input[type=text]{
    width: 70%;
    height: 20px;
    margin-right: 6%;
    padding: 3px 7px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #bfbfbf;
}

input[type=text]:focus {
    outline: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #bfbfbf;
}

input[type=email]{
    width: 70%;
    height: 20px;
    margin-right: 6%;
    padding: 3px 7px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #bfbfbf;
}

input[type=email]:focus {
    outline: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #bfbfbf;
}

/* セレクトボックス定義 */
select{
    width: 70%;
    height: 28px;
    margin: 0px -8px;
    margin-right: 36px;
    padding: 3px 2px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #bfbfbf;
}

select:focus{
    outline: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #bfbfbf;
}

.form_box_large{
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #bfbfbf;
}

/* チェックボックス定義 */
.checkbox_frame{
    width: 70%;
    display: flex;
    flex-direction: column;    
    margin-left: -8px;
    margin-right: 36px;
    gap: 15px 0px;
    text-align: start;
    font-size: 12px;
}

input[type=checkbox]{
    margin-right: 5%;
    cursor: pointer;
}

/* 複数行枠定義 */
textarea{
    width: 70%;
    height: 100px;
    margin-right: 36px;
    padding: 3px 7px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #bfbfbf;
}

textarea:focus {
    outline: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #bfbfbf;
}

/* 送信ボタン */
.contact_send{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
    margin: 30px auto;
    background-color: #ffd61a;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    border: none;
}

.contact_send:hover{
    background-color: #ffd61a;
    font-weight: bold;
    opacity: 0.7;
    cursor: pointer;
}

/* footerを定義*/
footer{
    width: 100%;
    padding: 30px 0;
    background-color: #707070;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fafafa;
    text-align: center;
}

/* mobileを定義 */
@media screen and (max-width: 1000px) {
    header{
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        z-index: 9999;
        background-color: #fafafa;
        opacity: 1;
        top: 0px;
    }
    
    .header_menu_bar{
        display: none;
    }

    header img{
        width: 300px;
        margin-left: 30px;
    }

    .header_mobile{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    /* menuを広げるボタン */
    input[id="menu"]{
        width: 70px;
        margin-right:20px;
    }
    
    #menu:hover{
        opacity: 0.5;
        cursor: pointer;
    }
    
    #mobile_menu {
        position: absolute; /* 絶対配置に設定 */
        top: 100px;
        margin: 0 0 auto auto;
        width: 150px;
        background-color: #fafafa;
        z-index: 10000;
        padding: 20px 0;
    }
    
    .header_style{
    display: block;
    width: 100px;
    text-align: right;
    padding: 5px;
    padding-left: 20px;
    }

    /* コンテンツ全体_mobileを定義 */
    .wrap {
       min-width: 480px;
    }

    /* mainバナー_mobileを定義 */
    .main_title{ 
        font-size: 4.8vw;
    }

    .sub_title{
        font-size: 3.4vw;
        letter-spacing: 0.15cap;
        color: white;
        text-align: center;
    }

    .mainvisual{
    margin-top: 100px;
    }

    /* couse_mobileを定義 */
    #course{
        margin-top: 60px;
    }

    .couse_frame{
        flex-direction: column;
    }

    .couse_frame img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .couse_box{
        width: 100%; 
    }

    .couse_text_frame{
        width: 80%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .couse_subtitle{
    	font-size:24px;
    }

    .couse_text{
    	font-size:16px;
    }

    #couse_box_content1 {
        order: 2;
    }

    .couse_box_content2 {
        order: 1;
    }

    /* access_mobileを定義 */
    .access_row{
        display: flex;
        flex-direction: column;
    }

    .access_title{
        margin-bottom: 10px;
        font-weight: 800;
    }

    /* form_mobileを定義*/
    .form{
        width: 90%;
    }

    .form_text{
        width: 40%;
    }

    /* セレクトボックス_mobile定義 */
    select{
        margin-right: 28px;
    }

    /* footer_mobileを定義*/
    footer{
        font-size: 16px;
    }
}